<p id="notice"><%= notice %></p>

<h1>
  <%= @article.titulo %>
</h1>

<span><%= @article.created_at %></span>

<h2>
  <%= @article.bajada %>
</h2>

<p>
  <%= @article.cuerpo %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<br><br>

<h1>Comentarios</h1>
<% Comment.all.each do |comment| %>
    <h3><%= comment.nombre %></h3>
    <p><%= comment.contenido %></p>
    <br>
<% end %>
<h3>Comenta la Noticia</h3>
